
<!-- Projects-->
  <section class="sectionSize bg-secondary pt-40">
    <div>
      <h2 class="secondaryTitle bg-underline3 bg-100%">Projects</h2>
    </div>
    <div class="md:grid md:grid-cols-2 md:grid-rows-4">
      <div class="flex items-start font-montserrat my-6 mr-10">
        <div>
          <h3 class="font-semibold text-2xl pb-2">WaterRnR</h3>
          <p>
            My first ever coding project! Designed, implemented and shipped to production a clone of AirBnB (WaterRnR). WaterRnR was designed to allow users to rent pools all over the world and in their own city.
            Created alongside fellow classmates from Le Wagon London: Neil Goodridge, Arthur Maroquene Froissart and David Morton. June 2021.
          </p>
        </div>
      </div>
       <div class="flex items-start font-montserrat my-6 mr-10">
        <div class="p-2 m-2">
          <%= image_tag 'MacBook Pro.png', alt: "Macbook Pro"%>
        </div>
       </div>

      <div class="flex items-start font-montserrat my-6 mr-10">
        <!-- <img src='dist/assets/logos/Heart.svg' alt='' class="h-7 mr-4" /> -->
        <div>
          <h3 class="font-semibold text-2xl pb-2">The O.A - Online Activist</h3>
          <p>
            Rails prototype of www.theoa.org, a social activism platform designed to help those who want to help a cause online.
            The home of online activism maps hashtags to actionable resources. This empowers supporters with
            practical tasks to accomplish real change. Version 1.0 was made over 9 days by a team of 4 as a minimum viable product prototype. Version 2.0 of the app is coming soon.
          </p>
        </div>
      </div>

      <div class="flex items-start font-montserrat my-6 mr-10">
        <div class="p-2 m-2">
          <%= image_tag 'MacBook Pro.png', alt: "Macbook Pro"%>
        </div>
       </div>

      <div class="flex items-start font-montserrat my-6 mr-10">
        <div>
          <h3 class="font-semibold text-2xl pb-2">OneThing Platform</h3>
          <p>
            There is a new reality in a post-pandemic world: audiences want to smoothly access highly engaging, highly curated content remotely. OneThing enables this.
            It is a collaborative tool - for creatives, producers and audiences - to create & distribute artistic online experiences with personalised content.
            It is a platform that offers high-quality content-hosting which enables high-quality streaming regardless of your audience’s device or connection speed.
            Created by Any One Thing - with help from Matt Brindley, David Smalley and Dan Avramescu - Contact me for more information.
          </p>
        </div>
      </div>

      <div class="flex items-start font-montserrat my-6 mr-10">
        <div class="p-2 m-2">
          <%= image_tag 'MacBook Pro.png', alt: "Macbook Pro"%>
        </div>
       </div>

      <div class="flex items-start font-montserrat my-6 mr-10">
        <div>
          <h3 class="font-semibold text-2xl pb-2">Their Network</h3>
          <p>
            Top secret. Coming soon. Ruby on Rails application & passion project by Paul Farnell.
          </p>
        </div>
      </div>
      <div class="flex items-start font-montserrat my-6 mr-10">
        <div class="p-2 m-2">
          <%= image_tag 'MacBook Pro.png', alt: "Macbook Pro"%>
        </div>
       </div>
    </div>

  </section>
  <!-- FAQ  -->
  <!-- section class="sectionSize items-start pt-8 md:pt-36 bg-black text-white">
    <div>
      <h2 class="secondaryTitle bg-highlight3 p-10 mb-0 bg-center bg-100%">
        FAQS
      </h2>
    </div>

    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto">
          Are you a freelance developer?
        </div>
        <img src='dist/assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-extralight pb-8 hidden">
        Yes! I can help with a custom website for your business.
      </div>
    </div>
    <hr class="w-full bg-white" />

    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto">
          Is this a Tailwind template?
        </div>
        <img src='dist/assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-extralight pb-8 hidden">
        Yes! It's a front-end lifesaver
      </div>
    </div>
    <hr class="w-full bg-white" />

    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto">
          What are you currently working on?
        </div>
        <img src='dist/assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-extralight pb-8 hidden">
        Top SECRET.
      </div>
    </div>
    <hr class="w-full bg-white" />

  </section> -->



  </section>
